.login-wrapper{
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.login-logo-wrapper{
  text-align: center;
}

.login-input{
  width: 280px;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid ;
  border-radius: 5px;
  outline: transparent;
}


.login-btn{
  display: block;
  width: 80px;
  margin: 10px auto;
  padding: 8px;
  border: 1px solid #FF0000;
  border-radius: 5px;
  background-color: #FF0000;
  color: #FFF;
}